apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: hacbs-test-project-52r5
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/rhtap-demo-jtdm-tenant/rhtap-demo-app/hacbs-test-project-52r5@sha256:12267050ee8bc30dbf42cd3762c86c25a035f3a72b7058abd2a571163d450e78
        name: hacbs-jvm-build-test-project
        resources: {}
status: {}
